@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-thumb {
	background-color: #e5b696;
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #e49c6c;
}

body::-webkit-scrollbar-track {
	background-color: transparent;
}

* {
	z-index: 0;
	--btn-bg: #ff6600;
	--text-color: #1b1b1b;
	--bar-width: clamp(40px, 5.5vw, 60px);
	--bar-height: 6px;
	--hm-gap: 9px;
	--hm-margin: 27px;
	--hm-height: calc(var(--bar-height) * 3 + var(--hm-gap) * 2);
	box-sizing: border-box;
}

.content-grid {
	margin-top: 90px;
	display: grid;
	grid-template-columns: [full-width-start] auto [breakout-start] 8vw [content-start] clamp(
			0px,
			67vw,
			780px
		) [content-end] 8vw [breakout-end] auto [full-width-end];
}

.content-grid > * {
	grid-column: content;
}

.content-grid > .full-width {
	grid-column: full-width;
}

.content-grid > .breakout {
	grid-column: breakout;
}

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	width: 100%;
	justify-items: center;
	align-items: center;
}

.footer .stayintouch,
.footer .social {
	display: flex;
	flex-direction: column;
}

.footer .copyright button {
	background: unset;
	border: unset;
	cursor: pointer;
	/* font-family: system-ui; */
}

.footer > * {
	padding: 20px;
}

.footer > .copyright {
	justify-self: stretch;
	grid-column: span 3;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer > .copyright > .rights {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer > .copyright > .rights > img {
	height: 30px;
	margin: 0px 10px;
}

@media (width < 950px) {
	.footer {
		grid-template-columns: 1fr 1fr;
		justify-items: start;
	}
	.footer > .copyright {
		grid-column: 1;
		flex-direction: column;
	}
}

@media (width < 670px) {
	.footer {
		grid-template-columns: 1fr;
		justify-items: start;
	}
	.footer > .copyright {
		grid-column: 1;
		flex-direction: column;
		align-items: start;
	}
}
